@import url("https://fonts.googleapis.com/css2?family=Revalia&family=Roboto+Mono:wght@400;500;600;700&display=swap");

:root {
  --text-title: 36px;
  --text-sub: 24px;
  --text-body: 18px;

  --color-highlight: #83d7ff;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  color: var(--color-white);
  font-size: var(--text-body);
}

h1,
h2 {
  color: var(--color-highlight);
  font-size: var(--text-title);
  font-weight: 400;
}

h2 {
  font-size: var(--text-sub);
}

svg.white,
svg.highlight {
  fill: var(--color-white);
  height: 40px;
  width: 40px;
}

svg.highlight {
  fill: var(--color-highlight);
}

svg.white-sm {
  fill: var(--color-white);
  height: 24px;
  width: 24px;
}

body {
  font-family: "Roboto Mono", monospace;
  background: #1f1f1f;
}

.section-padding {
  padding: 5rem 0;
}

.section-bg {
  background: #222222;
}

.banner .row {
  position: relative;
  min-height: 90vh;
  width: 100%;
}

#logo {
  position: fixed;
  top: 30px;
  left: 50px;
  color: white;
  font-size: var(--text-body);
  font-family: "Revalia", cursive;
  z-index: 999;
}

#hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
}

#hamburger span {
  position: relative;
  display: block;
  background: white;
  height: 3px;
  width: 20px;
  margin: 10px 0;
  transition: 0.3s ease;
}

#hamburger span.line-2 {
  width: 40px;
}

#hamburger span.line-3 {
  margin-left: auto;
}

#hamburger.active span.line-1 {
  background: var(--color-highlight);
  transform: translate(4px, 6px) rotateZ(45deg);
  transform-origin: top;
}

#hamburger.active span.line-2 {
  transform: rotateZ(-45deg);
}

#hamburger.active span.line-3 {
  background: var(--color-highlight);
  transform-origin: bottom;
  transform: translate(-4px, -6px) rotateZ(45deg);
}

nav {
  position: fixed;
  display: none;
  place-items: center;
  inset: 0 0 0 0;
  background: #272727;
  z-index: 900;
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul .link{
  text-decoration: none;
  margin: 2rem 0;
}

nav ul .link a{
  color: var(--color-white);
}

nav.active{
  display: grid;
}

.banner .title {
  height: 90vh;
}

.banner .title p {
  line-height: 16px;
  letter-spacing: 2px;
  /* margin: 20px 0; */
}

.banner .title h1 {
  letter-spacing: 0.5rem;
  /* margin: 30px 0; */
}

.banner .title .cta,
.contact form button.cta {
  color: white;
  background: transparent;
  border: 1px solid white;
  width: fit-content;
  padding: 8px 48px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.banner .title .cta:hover {
  box-shadow: 0px 5px 15px -5px var(--color-highlight);
  transform: translateY(-2px);
}

.btn:focus {
  box-shadow: none;
}

.banner .img-Bx {
  position: relative;
  height: 90vh;
  min-width: 350px;
}

/* about section */

.about .works .work {
  background: #272727;
}

.about .skills p {
  line-height: 35px;
  letter-spacing: 2px;
}

.about .skill-icons .content {
  width: 330px;
}

.about .skill-icons .skill-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 0.2rem 1.2rem 0.2rem;
}

/* Services section */
.service-item{
  background: #272727;
}

/* projects section */
.projects {
  position: relative;
}

.projects .project-link{
  color: var(--color-highlight);
  text-decoration: underline;
}

.projects .project-title{
  font-weight: 600;
}

/* testimonials section */

.testimonials .client{
  background: #272727;
}

.testimonials .client-name{
  margin-bottom: 0px;
}

.testimonials .client-review,
.testimonials .client-info{
  font-size: 14px;
}

.testimonials .client-info{
  color: var(--color-highlight);
}

.testimonials .client-pic{
  height: 100%;
}

/* contact section */
.contact {
  position: relative;
}

/* .contact .content {
  padding: 5rem 0;
  width: 500px;
  min-width: 350px;
} */

/* .contact form .in-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
} */

.contact form .in-group label {
  color: var(--color-highlight);
  margin-bottom: 0.5rem;
}

.contact form .in-group input,
.contact form .in-group textarea {
  background: #3a3a3a;
  outline: none;
  border: none;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
}

.valid-feedback {
  font-style: italic;
  color: var(--color-highlight);
}

.invalid-feedback {
  font-style: italic;
  color: var(--color-white);
}

/* .contact .img-bx {
  width: auto;
  height: 100%;
} */

/* details section */
.details h2 {
  /* margin: 1rem; */
}

/* footer section */
footer {
  padding: 1rem;
  background: #111111;
}

footer p {
  margin: 0.5rem;
}

footer p span {
  color: var(--color-highlight);
}

footer p span.copy {
  font-size: 24px;
}

footer .social .links {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

footer .social .links .link-item {
  height: 24px;
  width: 24px;
  margin: 0 0.5rem;
}

footer .social .links .link-item svg {
  fill: var(--color-white);
}
